= form_for @product do |f|
  .controls.span5
    = f.label :name
    = f.text_field :name
  .controls.span5
    = f.label :model
    = f.text_field :model
  .controls.span5
    = f.label :released_date
    = f.date_field :released_date
    br
    = f.button :submit, :class => 'btn btn-success'
    == "&nbsp;"
    = link_to t('.cancel'), products_path, :class => 'btn btn-warning'