doctype html

head
  meta charset="utf-8"
  meta name="viewport" content="width=device-width"
  title= "Product Info"
  = stylesheet_link_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tag

body
  .navbar.navbar-fixed-top
    .navbar-inner
      .container
        a.btn.btn-navbar data-toggle="collapse" data-target=".nav-collapse"
          span.icon-bar
          span.icon-bar
        a.brand href="#" Product Details
        .nav-collapse
          ul.nav
            li= link_to "Home", products_path
            li= link_to "About"
  .container
    .row
      .span12= yield
    br
  footer
    .row
      .span12 &copy;418342

= javascript_include_tag 'application', 'data-turbolinks-track' => true

javascript:
